{% extends "main/base.html" %}
{% load staticfiles %}

{% block content %}
<nav id="nav" class='hidden-nav'>
	<img src="{% static "assets/logo.png" %}" alt="Home"/>{% for page in meta.pages %}{%if page.slug == "home"%}{%else%}<a href="/{{page.slug}}" class="link-to-page {% if page.title = meta.title%}heighlight{% endif %}">{{page.title}}</a>{%endif%}{% endfor %}
	<div class="last-button"></div>
</nav>

<div id="loading" class="page"></div>
<section id="next-page" class="page"></section>
<section id="content" class="page animate {{meta.slug}}">
	{% block ajaxPart %}
		{% include "main/ajax-get.html" %}
	{% endblock %}
</section>

{% endblock %}